body{ 
    background-color:#76623D;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    }
h2{
    font-family: 'Courgette', cursive;
    text-align: center;
    color: #D8C757;

    }
li{
    font-family: 'Bangers', cursive;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}  
    p{
        color: #D8C757;
        font-size: 20px;
        max-width: 500px;
        padding: 20px;
        margin: 0 auto;
        font-family: 'Courgette', cursive;

    }
    #list{
        text-align: center;
        padding: 10px;
        font-family: 'Rozha One', serif;
        background:rgba(0,0,0,.5);
    }
    #links{
        display: inline;
        padding: 0px 10px 0px 10px;
    }
    header{
        Text-align: center;
        background: url("images/background.jpg");
        background-size: cover;
        padding:20px 0px 0px 0px;
    
    }
    h1{
        font-size: 50px;
        font-family: 'Rozha One', serif;
        color: #ce7373;
    }
    #header-pic{
        margin: 40px 0px 0px 0px; 
        border-style: ridge;
        border-width: 15px;
        border-color: #ce7373
    }
    a{
        font-family: 'Rozha One', serif;
        color: #D8C757;
    }
    .pics{
        text-align: center;
    }
    img{
        border: inset;
        border-width: 15px;
    }
    .button {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 12px 24px;
        border: 1px solid #c2c2d6;
        border-radius: 8px;
        background: #4444e2;
        background: -webkit-gradient(linear, left top, left bottom, from(#4444e2), to(#040416));
        background: -moz-linear-gradient(top, #4444e2, #040416);
        background: linear-gradient(to bottom, #4444e2, #040416);
        -webkit-box-shadow: #8a8aad 14px 10px 8px 0px;
        -moz-box-shadow: #8a8aad 14px 10px 8px 0px;
        box-shadow: #8a8aad 14px 10px 8px 0px;
        text-shadow: #591717 3px -4px 1px;
        font: normal normal bold 20px arial;
        color: #08d9d9;
        text-decoration: none;
    }
    .button:hover,
    .button:focus {
        border: 1px solid #dfdff6;
        background: #5252ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#5252ff), to(#05051a));
        background: -moz-linear-gradient(top, #5252ff, #05051a);
        background: linear-gradient(to bottom, #5252ff, #05051a);
        color: #08d9d9;
        text-decoration: none;
    }
    .button:active {
        background: #292988;
        background: -webkit-gradient(linear, left top, left bottom, from(#292988), to(#040416));
        background: -moz-linear-gradient(top, #292988, #040416);
        background: linear-gradient(to bottom, #292988, #040416);
    }
    .button:before{
        content:  "\0000a0";
        display: inline-block;
        height: 24px;
        width: 24px;
        line-height: 24px;
        margin: 0 4px -6px -4px;
        position: relative;
        top: 0px;
        left: 0px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABPElEQVRIie2UMU7EMBBF3yDEAVJSpEA5AD0ViugdiZ4jcAIKjkKHBFLco21SrKj2BBGKUm6R9DRDgSOZoDg2S7lfShNn/p//J2M4YgWSWmCMKYAX4By4H4bhuWmaxe9P/0C+AXL36inLsh7YLtWcJJK/iUguIrjnDLgM1UU58DtXVUQEVQVogdeDBCZyEclnRy1QWmv3ofpgRH4srmMAVHUi79caXPyL5gOdxRJFDgsRVVV1oaqhWKLIYSEiVX08JJZVgQkiyXsYLfCgqr2q4rkogI0xZh5buoC1tgNKoPddiEiyyGJE1toWuAY6Rz4dJYkEZ2Ct/cA58eNKcRI1xaqqfuyEd120wFVom6Muu7quW76ddBO5QwHchmqjb1MnciMiPTDF9Qns/kXAEylVdQfsgbtxHN9TOI74hS/K15ZtqiOATgAAAABJRU5ErkJggg==") no-repeat left center transparent;
        background-size: 100% 100%;
    }
   
    
